*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    background: #E5E5E5;
}

header{
    width: 100%;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
}

h1{
    color: #0C0C0D;
    font-size: 28px;
}

main{
    display: grid;
    height: 1580px;
    gap: 1.5%;
    grid-template-areas: 
    "a a b b c"
    "a a b b c"
    "d d e f g"
    "d d e f g"
    "h h i i j"
    "h h k k j"
    "l l m m n"
    "o o m m n";
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.item:nth-child(1){
    grid-area: a;
    background-image: url(../img/a.jpg);
    background-size: cover;
}

.item:nth-child(2){
    grid-area: b;
    background-image: url(../img/b.jpg);
    background-size: cover;
}

.item:nth-child(3){
    grid-area: c;
    background-image: url(../img/c.jpg);
    background-size: cover;
}

.item:nth-child(4){
    grid-area: d;
    background-image: url(../img/d.jpg);
    background-size: cover;
}

.item:nth-child(5){
    grid-area: e;
    background-image: url(../img/E.jpg);
    background-size: cover;
}

.item:nth-child(6){
    grid-area: f;
    background-image: url(../img/f.jpg);
    background-size: cover;
}

.item:nth-child(7){
    grid-area: g;
    background-image: url(../img/g.jpg);
    background-size: cover;
}

.item:nth-child(8){
    grid-area: h;
    background-image: url(../img/h.jpg);
    background-size: cover;
}

.item:nth-child(9){
    grid-area: i;
    background-image: url(../img/i.jpg);
    background-size: cover;
}

.item:nth-child(10){
    grid-area: j;
    background-image: url(../img/j.jpg);
    background-size: cover;
}

.item:nth-child(11){
    grid-area: k;
    background-image: url(../img/k.jpg);
    background-size: cover;
}

.item:nth-child(12){
    grid-area: l;
    background-image: url(../img/l.jpg);
    background-size: cover;
}

.item:nth-child(13){
    grid-area: m;
    background-image: url(../img/m.jpg);
    background-size: cover;
}

.item:nth-child(14){
    grid-area: n;
    background-image: url(../img/n.jpg);
    background-size: cover;
}

.item:nth-child(15){
    grid-area: o;
    background-image: url(../img/o.jpg);
    background-size: cover;
}

.category{
    height: 40px;
    border-radius: 30%;
    background-color: white;
	width: 13%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.category_nav{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;}